body{
    margin: 0;
    padding: 0;
    background:#f6f6f6;
    font-family: 'Playfair Display', serif;
}
header{
    background: #163172;
    height: 70px;
    color: white;
}

.logo-text{
float: left;
height: inherit;
margin-left: 2em;
font-family: 'Playfair Display', serif;
/* font-family: 'Vidaloka', serif;
font-family: 'Courgette', cursive; */

}
.logo-text span{
    color: #ff7c38;
}
header ul{
    float: right;
    margin: 0;
    padding: 0;
    list-style: none;
}
header ul li{
    float: left;
}
header ul li a{
    display: block;
    padding: 20px;
    font-size: 1.5em;
    color: #ffffff;
    text-decoration: none;

}
header ul li a:hover{
    transition: 0.5s;
    border: 1px solid white;
}
.container{
    width: 40%;
    margin: 50px auto;
    padding: 20px;
    background: #d2ecf9;
    border-radius: 5px;
}
.container h2{
    text-align: center;
    font-family: 'Playfair Display', serif;
}
label{
    font-size: 20px;
     font-family: 'Vidaloka', serif;
}
p{
    font-family: 'Courgette', cursive;
}
.container form div{
    margin-bottom: 10px;
}
.btn{
    background: #0c056d;
    border-radius: 0.25rem;
    color: #ffffff;
    font-size: 1.1em;
    padding: 0.5rem 1rem;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid transparent;

}
.btn-big{
    padding: 0.7rem 1.3rem;
    line-height: 1.3rem;
}
.btn:hover{
    color: white;
    background: rgb(6, 94, 97);
}
.input-text,.input-pass,.input-nber{
    padding: 0.7rem 1rem;
    display: block;
    width: 85%;
    border-radius: 3px;
}
.bottom-container{
    background-color: #39065a;
    padding: 50px 0 20px;
}
.copyright-text{
    color: #eaf6f6;
    font-size: 0.75rem;
    padding: 5px 0;
    font-family: 'Playfair Display', serif;
    text-align: center;
}